@charset "UTF-8";
.btn--prime {
  display: inline-block;
  padding: 1em 2em;
  border: solid 1px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  -webkit-transition: .3s;
  transition: .3s;
  color: white;
  background-color: #F03A34;
  border-color: #F03A34;
}

.btn--prime:hover {
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
  background-color: transparent;
}

.btn--prime:hover {
  color: #F03A34;
}

p, label, li, th, td, h1, h2, h3, h4, h5 {
  font-family: "Yu Mincho", "游明朝", YuMincho, "游明朝体", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "メイリオ", sans-serif;
  color: #22252D;
}

a {
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  font-weight: 600;
  text-decoration: none;
}

.--g {
  display: -ms-grid;
  display: grid;
}

.--u {
  padding: 0.5rem;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.header .--g {
  -ms-grid-columns: 1fr -webkit-max-content;
  -ms-grid-columns: 1fr max-content;
  grid-template-columns: 1fr -webkit-max-content;
  grid-template-columns: 1fr max-content;
}

.header__logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo .logo {
  font-size: 1.5em;
}

.header__menu-btn {
  letter-spacing: -.4em;
}

.header__menu-btn i {
  font-size: 3em;
}

.home .hero {
  position: relative;
}

.home .hero__text {
  position: absolute;
  top: 0;
  bottom: 0;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: auto;
  padding: 0.5rem;
  z-index: 1;
}

.home .hero__text__title, .home .hero__text__desc {
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.home .hero__img {
  height: 60vh;
  overflow: hidden;
  margin: -4px;
}

.home .hero__img img {
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
  width: 100%;
  -webkit-filter: blur(4px);
  filter: blur(4px);
}

.home .latest {
  padding: 3em 0;
}

.home .latest__text__title {
  text-align: center;
  padding-bottom: 1em;
}

.home .latest__list__item {
  border-bottom: solid 1px #F79127;
}

.home .latest__list__item:first-child {
  border-top: solid 1px #F79127;
}

.home .latest__list__item a {
  display: block;
  color: #F79127;
  padding: .8em .5em;
}

.home .points {
  padding: 3em 0;
  background-color: rgba(237, 245, 220, 0.7);
}

.home .points__title {
  text-align: center;
  padding-bottom: 1em;
}

.home .points__card {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  -webkit-transition: .3s;
  transition: .3s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #F79127;
  margin: 1em 2em;
  padding: 2em 1em;
  min-height: 17.5em;
}

.home .points__card * {
  color: white;
}

.home .points__card__icon {
  font-size: 5em;
}

.home .points__card__title {
  padding: .8em 0;
}

.home .parallax-box {
  height: 100px;
  overflow: hidden;
  position: relative;
}

.home .parallax-box::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.home .parallax-box img {
  position: relative;
  z-index: 0;
}

.home .machizemi {
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  padding: 3em 0;
}

.home .machizemi__text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.home .machizemi__text__title {
  text-align: center;
  padding-bottom: 1em;
}

.home .machizemi__text__desc {
  margin: .7em 0;
}

.home .machizemi__text__btn {
  margin: 1em auto;
}

.home .machizemi__img img {
  width: 100%;
}

.course .course-title {
  font-size: 1.5em;
  padding: 0.5rem;
}

.course .prime-info__img {
  width: 100%;
}

.course .prime-info__img img {
  width: 100%;
  vertical-align: bottom;
}

.course .prime-info__text__shop-name {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.course .second-info__text__date-list {
  margin-bottom: 1rem;
}

.course .second-info__text__place-name {
  font-size: 1.5rem;
}

.course .second-info__text__place-address {
  color: rgba(34, 37, 45, 0.7);
}

.course .second-info__map {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 75%;
}

.course .second-info__map__iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.course .other-info {
  padding: 0.5rem;
  margin: 1rem 0;
}

.course .other-info__table, .course .other-info__table th, .course .other-info__table td {
  border-collapse: collapse;
  border: solid 1px #22252D;
}

.course .other-info__table {
  width: 100%;
}

.course .other-info__table th, .course .other-info__table td {
  padding: .5rem;
}

.course .other-info__table th {
  text-align: left;
}

.course .cta__title {
  padding: 0.5rem;
  padding-bottom: 0;
}

.course .cta__buttons .btn--prime {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.course .cta__buttons i {
  font-size: 2rem;
  margin-right: 1rem;
}
/*# sourceMappingURL=map/style.css.map */
