<% 
    var $img = "/img";
%>
<%- include('_data.ejs') %>
<footer>
    <div>
        <small>powered by <a href="https://cotoliwmo.com" target="_blank">cotoLi</a></small>
    </div>
</footer>

<script src="<%= $root+'js/init.min.js' %>"></script>
<script>
    var rellax = new Rellax('.rellax',{
        center: false
    });
</script>