<%- include('_data.ejs') %>
<header class="header">
    <div class="header__wrap --g">
        <div class="header__logo --u">
            <h1 class="logo">
                <a href="<%- site.root %>"><%- site.title %></a>
            </h1>
        </div>
        <div id="menu-btn" class="header__menu-btn --u"> 
            <div class="header__menu-btn__buttons">
                <i class="header__menu-btn__buttons__open material-icons">menu</i>
                <i class="header__menu-btn__buttons__close material-icons">close</i>
            </div>
        </div>
    </div>
    <%- include('_menu.ejs') %>
</header>