@charset "utf-8";
@import "./partial/data";

//=======================================
//=============基本設定====================
//=======================================
p, span, label, li, th, td,h1, h2, h3, h4, h5{
    font-family: $font-family-main;
    color: $clr-font;
}
//見出し==================================
h2{
    font-size: 1.4rem;
}

a {
    font-family: $font-family-alt;
    font-weight: 600;
    text-decoration: none;
}

//グリッド================================
.--g{
    display: grid;
}
.--u{
    padding: $outer-padding;
}

//============================================
//=============コンポーネント====================
//============================================
    //ヘッダー
    .header {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 999;
        .--g {
            grid-template-columns: 1fr max-content;
        }
        .--u{
            padding-top: 0;
            padding-bottom: 0;
        }
        &__logo{
            display: flex;
            align-items: center;
            .logo{
                font-size: 1.25em;
                *{
                    font-family: $font-family-main;
                    color: $clr-font;
                    transition: .3s;
                    &:hover{
                        color: $clr-accent;
                    }
                }
            }
        }
        &__menu-btn{
            cursor: pointer;
            z-index: 9999;
            &__buttons{
                position: relative;
                &__close{
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;
                }
                &__open{
                    opacity: 1;
                }
            }
            &, & i{
                transition: .3s;
                transition-property: color, background-color, opacity;
            }
            i {
                font-size: 2.5em;
                color: $clr-font;
                vertical-align: bottom;
            }
            &:hover, &:active{
                background-color: $clr-accent;
                i{
                    color: white;
                }
            }
            &--is-open{
                & .header__menu-btn__buttons{
                    &__close{
                        opacity: 1;
                    }
                    &__open{
                        opacity: 0;
                    }
                }
            }
        }
    }
    @include media(lg){
        .header{
            &__wrap{
                padding-right: $contents-width;
                padding-left: $contents-width;
            }
        }
    }
    //メニュー=====================================
    .menu{
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        transform: translateX(100%);
        transition: .3s;
        transition-property: transform;
        &--is-open{
            transform: translateX(0);
        }
        &__nav{
            background-color: white;
            height: 100%;
            width: 100%;
            box-shadow: -2px 2px 8px 2px rgba(0,0,0,0.3);
            padding-top: 5rem;
            &__list{
                &__item{
                    list-style: none;
                    padding: 0 .5rem;
                    a{
                        display: block;
                        padding: 1rem;
                        color: $clr-font;
                        transition: .3s;
                        &:hover{
                            background-color: $clr-accent;
                            color: white;
                        }
                    }
                }
            }
        }
        @include media(sm){
            &__nav{
                width: 60%;
            }
        }
        @include media(md){
            &__nav{
                width: 45%;
            }
        }
        @include media(lg){
            &__nav{
                width: 40%;
            }
        }
    }
    //フッター=====================================
    .footer{
        margin-top: 2rem;
        &__copy-right{
            text-align: center;
            background-color: $clr-font;
            padding: $outer-padding;
            &__text, &__text a{
                color: white;
                font-weight: normal;
                font-family: $font-family-alt;
            }
            &__text a{
                text-decoration: underline;
                
            }
        }
    }

//===============================================
//=============フロントページ======================
//===============================================
.home {
    //ヒーローエリア=======================================
    .hero{
        position: relative;
        &__text{
            position: absolute;
            top: 0;
            bottom: 0;
            height: max-content;
            margin: auto;
            padding: $outer-padding;
            z-index: 1;
            &__title, &__desc{
                color: white;
                text-shadow: 1px 1px 2px rgba(black, .7)
            }
        }
        &__img{
            height: 60vh;
            width: 100%;
            overflow: hidden;
            margin: -1px; //ブラーで白くなった画像のフチをカットするため
            img{
                object-fit: cover;
                height: 100%;
                width: 100%;
                filter: blur(4px);
            }
        }
    }
    @include media(lg){
        .hero{
            &__text{
                padding-right: $contents-width;
                padding-left: $contents-width;
                &__title{
                    font-size: 2rem;
                }
            }
        }
    }

    //直近回の案内=======================================
    .latest{
        padding: $section-padding;
        &__text{
            padding-bottom: 1rem;
            &__title{
                @include section-title;
            }
        }
        &__list{
            &__item{
                list-style: none;
                border-bottom: solid 1px $clr-main2;
                &:first-child{
                    border-top:  solid 1px $clr-main2;
                }
                a{
                    display: block;
                    color: $clr-main2;
                    padding: .8rem 1rem;
                }
            }
        }
    }
    @include media(lg){
        .latest{
            &__text{
                padding-right: $contents-width;
                padding-left: $contents-width;
            }
            &__list{
                padding-right: $contents-width;
                padding-left: $contents-width;
            }
        }
    }

    //あとゼミのポイント紹介=======================================
    .points{
        padding: $section-padding;
        background-color: rgba($clr-base, .7);
        &__title{
            @include section-title;
        }
        &__cards{
            justify-content: center;
        }
        &__card{
            @include shadow;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: $clr-main2;
            margin: 1rem;
            padding: 2em 1em;
            min-height: (280 / 16)*1em;
            max-width: (400 / 16)*1rem;
            *{
                color: white;
            }
            &__icon{
                font-size: 5em;
            }
            &__title{
                padding: .8em 0;
            }
        }
    }
    @include media(md){
        .points{
            &__cards{
                grid-template-columns: repeat(3, 1fr);
            }
            &__card{
                margin: .5rem;
                padding: 1rem .5rem;
            }
        }
    }
    @include media(lg){
        .points{
            &__cards{
                padding-right: $contents-width;
                padding-left: $contents-width;
            }
            &__card{
                margin: .5rem;
            }
        }
    }

    //パララックスボックス=======================================
    .parallax-box{
        height: 100px;
        overflow: hidden;
        position: relative;
        &::before{
            content: "";
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(black, .4);
            z-index: 1;
        }
        img{
            position: relative;
            z-index: 0;
        }
    }
    @include media(sm){
        .parallax-box{
            height: 200px;
        }
    }
    @include media(lg){
        .parallax-box{
            height: 300px;
        }
    }

    //まちゼミの紹介=======================================
    .machizemi{
        grid-template-columns: 1fr;
        padding: $section-padding;
        &__text{
            display: flex;
            flex-direction: column;
            &__title{
                @include section-title;
            }
            &__desc{
                @include para;
            }
            &__btn{
                margin: 1em auto;
            }
        }
        &__img{
            img{
                width: 100%;
            }
        }
    }
    @include media(md){
        .machizemi{
            padding-right: $contents-width;
            padding-left: $contents-width;
            grid-template-columns: 1fr 1fr;
        }
    }
}

//============================================
//=============講座詳細ページ====================
//============================================
.course{
    //ヒーローエリア
    .hero{
        @include course-hero;
    }
    //講座番号と講座名
    .course-num{
        padding: $outer-padding;
        padding-top: 0;
        padding-bottom: 0;
    }
    .course-title{
        font-size: 1.5em;
        padding: $outer-padding;
    }
    @include media(md){
        .course-title{
            font-size: 2rem;
            margin-bottom: 1rem;
        }
    }
    @include media(lg){
        .course-num, .course-title{
            padding-right: $contents-width;
            padding-left: $contents-width;
        }
    }
    //詳細第一（サムネイル画像と店舗名、講座説明）
    .prime-info{
        &__img{
            width: 100%;
            img{
                width: 100%;
                vertical-align: bottom;
            }
        }
        &__text{
            &__shop-name{
                font-size: 1.5rem;
                margin-bottom: 1rem;
            }
        }
    }
    @include media(sm){
        .prime-info{
            grid-template-columns: 1fr 1fr;
            &__img{
                padding: $outer-padding;
            }
        }
    }
    @include media(lg){
        .prime-info{
            padding-right: $contents-width;
            padding-left: $contents-width;
        }
    }
    //詳細第二
    .second-info{
        &__text{
            &__date-list{
                margin-bottom: 1rem;
                &__item{
                    list-style: none;
                }
            }
            &__place-name{
                font-size: 1.5rem;
            }
            &__place-address{
                color: rgba($clr-font, .7);
            }
        }
        &__map{
            position: relative;
            width: 100%;
            height: 0;
            padding-top: 75%;
            &__iframe{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
    @include media(sm){
        .second-info{
            margin-top: 1rem;
            &__map{
                padding-top: 50%;
            }
        }
    }
    @include media(lg){
        .second-info{
            padding-right: $contents-width;
            padding-left: $contents-width;
            grid-template-columns: 1fr 1fr;
            &__map{
                padding-top: 100%;
            }
        }
    }
    //詳細その他
    .other-info{
        padding: $outer-padding;
        margin: 1rem 0;
        &__table, &__table th, &__table td{
            border-collapse: collapse;
            border: solid 1px $clr-font;
        }
        &__table{
            width: 100%;
            th, td{
                padding: .5rem;
            }
            th{
                text-align: left;
            }
        }
    }
    @include media(lg){
        .other-info{
            padding-right: $contents-width;
            padding-left: $contents-width;
        }
    }
    //電話＆メールボタン
    .cta{
        &__title{
            padding: $outer-padding;
            padding-bottom: 0;
        }
        &__buttons{
            .btn--prime{
                display: flex;
                align-items: center;
                justify-content: center;
            }
            i{
                font-size: 2rem;
                margin-right: 1rem;
            }
        }
    }
    @include media(lg){
        .cta{
            padding-right: $contents-width;
            padding-left: $contents-width;
            &__buttons{
                grid-template-columns: 1fr 1fr;
            }
        }
    }
}

//============================================
//=============講座一覧ページ====================
//============================================
.courses{
    background-color: rgba($clr-base, .7);
    .hero{
        @include course-hero;
    }
    //「受付中の講座一覧」タイトル
    .title{
        text-align: center;
    }
    @include media(md){
        .title{
            font-size: 2rem;
        }
    }
    //カードスタイルの講座一覧
    .course-list{
        grid-template-columns: 1fr 1fr;
        &__item{
            margin: .5rem;
            list-style: none;
            &__link{
                display: inline-block;
                height: 100%;
                background-color: white;
                cursor: pointer;
                @include shadow;
                &__img{
                    width: 100%;
                    height: auto;
                    vertical-align: bottom;            
                }
                &__title{
                    font-size: 1rem;
                    padding: .5rem;
                }
                &:hover, &:focus{
                    box-shadow: 0 0 0 rgba(black, .3);
                    opacity: .7;
                }
            }
        }
    }
    @include media(md){
        .course-list{
            &__item{
                &__link{
                    &__title{
                        font-size: 1.2rem;
                        padding-bottom: 1rem;
                    }
                }
            }
        }
    }
    @include media(lg){
        .course-list{
            padding-right: $contents-width;
            padding-left: $contents-width;
            grid-template-columns: repeat(3, 1fr);
            &__item{
                margin: 1rem;
                &__link{
                    &__title{
                        font-size: 1.5rem;
                        padding-bottom: 1rem;
                    }
                }
            }
        }
    }
}