@charset "utf-8";
@import "./partial/data";

//=======================================
//=============基本設定====================
//=======================================
p, label, h1, h2, h3, h4, h5{
    font-family: $font-family-main;
    color: $clr-font;
}
a {
    font-family: $font-family-alt;
    font-weight: 600;
    text-decoration: none;
}

//グリッド================================
.--g{
    display: grid;
}
.--u{
    padding: $outer-padding;
}

//=======================================
//=============スマホ用====================
//=======================================
    //ヘッダー
    .header {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 999;
        .--g {
            grid-template-columns: 1fr max-content;
        }
        &__logo{
            display: flex;
            align-items: center;
            .logo{
                font-size: 1.5em;
            }
        }
        &__menu-btn{
            letter-spacing: -.4em; //子要素のインラインブロックの隙間を消す
            i {
                font-size: 3em;
            }
        }
    }
//=======================================
//=============フロントページ====================
//=======================================
.home {
    //ヒーローエリア=======================================
    .hero{
        position: relative;
        &__text{
            position: absolute;
            top: 0;
            bottom: 0;
            height: max-content;
            margin: auto;
            padding: $outer-padding;
            z-index: 1;
            &__title, &__desc{
                color: white;
                text-shadow: 1px 1px 2px rgba(black, .7)
            }
        }
        &__img{
            height: 60vh;
            overflow: hidden;
            margin: -4px; //ブラーで白くなった画像のフチをカットするため
            img{
                object-fit: cover;
                height: 100%;
                width: 100%;
                filter: blur(4px);
            }
        }
    }

    //直近回の案内=======================================
    .latest{
        padding: $section-padding;
        &__text{
            &__title{
                @include section-title;
            }
        }
        &__list{
            &__item{
                border-bottom: solid 1px $clr-main2;
                &:first-child{
                    border-top:  solid 1px $clr-main2;
                }
                a{
                    display: block;
                    color: $clr-main2;
                    padding: .8em .5em;
                }
            }
        }
    }

    //あとゼミのポイント紹介=======================================
    .points{
        padding: $section-padding;
        background-color: rgba($clr-base, .7);
        &__title{
            @include section-title;
        }
        &__card{
            @include shadow;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: $clr-main2;
            margin: 1em 2em;
            padding: 2em 1em;
            min-height: (280 / 16)*1em;
            *{
                color: white;
            }
            &__icon{
                font-size: 5em;
            }
            &__title{
                padding: .8em 0;
            }
        }
    }

    //パララックスボックス=======================================
    .parallax-box{
        height: 100px;
        overflow: hidden;
        position: relative;
        &::before{
            content: "";
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(black, .4);
            z-index: 1;
        }
        img{
            position: relative;
            z-index: 0;
        }
    }

    //まちゼミの紹介=======================================
    .machizemi{
        grid-template-columns: 1fr;
        padding: $section-padding;
        &__text{
            display: flex;
            flex-direction: column;
            &__title{
                @include section-title;
            }
            &__desc{
                @include para;
            }
            &__btn{
                margin: 1em auto;
            }
        }
        &__img{
            img{
                width: 100%;
            }
        }
    }
}