<%- include('../../source/partial/_data.ejs') %>
<header class="header">
    <div class="--g">
        <div class="header__logo --u">
            <h1 class="logo"><a href="<%- site.root %>"><%- site.title %></a></h1>
        </div>
        <div class="header__menu-btn --u"> 
            <i class="material-icons">menu</i>
        </div>
    </div>
    <%- include('../../source/partial/_drawer.ejs') %>
</header>