<%- include('../../source/partial/_data.ejs') %>
<header>
    <div>
        <h1 class="logo"><a href="<%- site.root %>"><%- site.title %></a></h1>
        <div>
            <i class="material-icons">menu</i>
        </div>
    </div>
    <%- include('../../source/partial/_drawer.ejs') %>
</header>